header{
   background-color: #364F6B;
   height: 70px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   position: fixed;
   top: 0;
   overflow:hidden
}

header img{
    width: 120px;
    cursor: pointer;
}

.btnContainer{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.btnContainer a{
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s;
}

.btnContainer a:hover{
    transform: scale(0.9);
}

.signUpBtn{
  background-color: #3Fc1C9;
}

.logInBtn{
    background-color: #CE2D4F;
}

@media all and (max-width: 480px){
    .btnContainer a{
        width: 68px;
        height: 40px;
    }
}
.prfcontainer{
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s;
    gap: 20px;
    font-size: 18px;
    transition: all 0.2s ease; 
    

}
.prfcontainer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition:transform 0.2s ease, border 0.01s ease;
}
.prfcontainer img:hover{
    transform: scale(0.9);
    border: #CE2D4F 2px solid;
}
.prfcontainer .innerTxtHeader a{
    transition: all 0.2s ease;
    
}
.active{
    color: #CE2D4F;
    
}
.prfcontainer .innerTxtHeader a:hover{
    font-weight: bold;
    font-size: 18px;
    color: #CE2D4F;
}

