body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #F5F5F5;
  overflow-y: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

p{
  text-align: justify;
}

a{
  text-decoration: none;
  color: #F5F5F5;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingProfile{
  display: flex;
  justify-content: center;
  align-items: center;
}
