.Post {
  width: 90%;
  padding: 15px;
  max-width: 1200px;
  margin: 50px auto;
  box-shadow: 8px 12px 10px -9px #364f6b;
  border-radius: 10px;
}

.posts {
  margin-top: 100px;
}

.postHeader {
  display: flex;
  font-size: 14px;
  gap: 5px;
  color: #362624;
  user-select: none;
}
.postHeader img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.01s ease;
  border: #3fc1c9 solid 2px;
}
.postBorder {
  border-left: 3px solid #3fc1c9;
  margin: 10px 0;
}

.postContent p {
  width: 70%;
  max-width: 80%;
  text-align: justify;
  margin-left: 10px;
}

.LikeButton button {
  background-color: transparent;
  width: 40px;
  display: flex;
  justify-content: start;
}

.LikeButton img {
  width: 25px;
}

.interactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.interactions img {
  width: 25px;
}

.likeArea {
  display: flex;
  align-items: center;
}

.likeArea span {
  font-weight: bold;
  color: #ce2d4f;
}
.commentArea button {
  background-color: transparent;
  width: 40px;
  display: flex;
  justify-content: start;
}

.time {
  font-size: 12px;
  color: grey;
}
.DeletePost button {
  width: 50px;
  margin: 10px 0 0 0;
}

.deleteArea{
  display: flex;
  justify-content: end;
  align-items: center;
}

.delete{
  margin-top: 10px;
}
